* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* Header Start */
header {
  width: 80%;
  height: 10%;
  border: 3px solid;
}

/* Main Content Start */

section {
  width: 80%;
  height: 70%;
  display: flex;
  gap: 10px;
}
#left-bar {
  width: 20%;
  height: 100%;
  background-color: red;
  border: 3px solid;
  order: 3;
}

.center-bar {
  width: 20%;
  height: 100%;
  background-color: yellowgreen;
  border: 3px solid;
  order: 1;
}

#right-bar {
  width: 60%;
  height: 100%;
  background-color: blue;
  border: 3px solid;
  order: 2;
}

/* Main Content End */

/* Footer Start */
footer {
  width: 80%;
  height: 10%;
  border: 3px solid;
}
/* Footer End */
