

* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

.clear{
    clear: both;
}

header {
  width: 90%;
  height: 10%;
  float: left;
  border: 3px solid;
  margin: 20px 60px
}

section {
  width: 90%;
  height: 70%;
  float: left;
  margin: 5px 60px
}

#left-bar{
    width: 20%;
    height: 100%;
    border: 3px solid;
    float: left;
}

#right-bar{
    width: 79%;
    height: 100%;
    border: 3px solid;
    float: right;
}

footer {
  width: 90%;
  height: 7%;
  float: left;
  border: 3px solid;
  margin: 20px 60px
}

