header div:first-child {
  padding: 4%;
  background-color: blue;
  width: 42%;
  float: left;
}

header div:nth-child(2) {
  padding: 4%;
  background-color: green;
  width: 42%;
  float: right;
}

.clear {
  clear: both;
}

nav {
  background-color: red;
}

nav ul {
  list-style: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
  float: left;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid;
}

section div:first-child {
  padding: 4%;
  background-color: grey;
  width: 20%;
  float: left;
}

section div:nth-child(2) {
  padding: 4%;
  background-color: gold;
  width: 64%;
  float: right;
}

footer {
  margin-top: 0.5%;
  padding: 4%;
  background-color: green;
}
