* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: poppins;
}

header {
  width: 100%;
  height: 14%;
  /* background-color: red; */
}

.header-leftside {
  width: 50%;
  height: 100%;
  float: left;
  /* border: 1px solid black; */
  background-color: grey;
}

.header-rightside {
  width: 50%;
  height: 100%;
  float: right;
  /* border: 1px solid black; */
  background-color: gold;
}

nav {
  width: 100%;
  height: 8%;
  background-color: blue;
}

ul {
  list-style: none;
  /* background-color: yellow; */
  position: relative;
  top: 10px;
}

li {
  width: 10%;
  height: 100%;
  font-size: 1.5em;
  display: inline;
  margin: 10px;
  padding: 5px;
  background-color: red;
  border: 1px solid black;
}

nav a {
  text-decoration: none;
  color: black;
}

main {
  width: 100%;
  height: 50%;
  /* background-color: green; */
}

.main-leftside {
  width: 30%;
  height: 100%;
  /* border: 1px solid black; */
  float: left;
  background-color: grey;
}

.main-rightside {
  width: 70%;
  height: 100%;
  /* border: 1px solid black; */
  float: right;
  background-color: gold;
}

footer {
  width: 100%;
  height: 28%;
  background-color: red;
  color: white;
}
