/* Header Start */
.first-dev {
  padding: 4%;
  background-color: blue;
  width: 42%;
  float: left;
}

.second-dev {
  padding: 4%;
  background-color: green;
  width: 42%;
  float: right;
}

.clear {
  clear: both;
}
/* Header End */

/* Navigation Start */
.navigation {
  background-color: red;
  float: left;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

nav ul {
  list-style: none;
  display: block;
  float: left;
}

nav ul li {
  display: inline;
}
nav ul li a {
  font-size: 20px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 5px;
  background-color: yellow;
}
/* Navigation End */

/* Main Content Start */
#left-bar {
  padding: 4%;
  background-color: grey;
  width: 20%;
  float: left;
}

#right-bar {
  padding: 4%;
  background-color: gold;
  width: 64%;
  float: right;
}
/* Main Content End */

/* Footer Start */
footer {
  margin-top: 0.5%;
  padding: 4%;
  background-color: green;
}
/* Footer End */
