*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    width: 100%;
    height: 100%;
    font-size: 2em;
    text-align: center;
    color: white;
}

header{
    width: 100%;
    height: 10%;
    background-color: blue;
}

nav{
    width: 100%;
    height: 10%;
    background-color: lightblue;
}

section{
    width: 100%;
    height: 70%;
    clear: both;
}

main{
    float: left;
    width: 80%;
    height: 100%;
    background-color: darkblue;
}

article{
    float: left;
    width: 20%;
    height: 100%;
    background-color: blue;
}

footer{
    width: 100%;
    height: 10%;
    background-color: lightblue;
    clear: both;
}

/* Responsive for small screens */
@media (max-width: 450px) {

    main, article{
        float: none;
        width: 100%;
    }

    main{
        height: 90%;
    }

    article{
        height: 10%;
    }
}
