* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: rgb(185, 221, 253, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

section {
  background-color: black;
  width: 50%;
  height: 100%;
}

form {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
}

form input {
  width: 50%;
  height: 7%;
  font-size: 1.2em;
  padding-left: 10px;
  margin-bottom: 10px;
}

.gender{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: start;
}

.gender label{
    font-size: 1.2em;
}

.gender input{
    width: auto;
    scale: 1.5;
    margin-left: 10px;
    margin-top: 5px;
}