*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 50%;
    height: 50%;
    background-color: rgb(99, 99, 231);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "item1 ...";
    gap: 10px;
}

section{
    background-color: rgb(30, 174, 133);
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid black;
}

.container section:hover{
    box-shadow: 0 0 7px black;
    scale: 1.05;
}

/* section:hover{
    grid-column:1/3;
}*/

section:nth-child(1){
    grid-area: item1;
} 

/* .container section:nth-child(5){
    grid-area: 1/2/3/3;
} */


