body,
html {
  width: 99%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header {
  width: 100%;
  height: 20%;
  border: 1px solid black;
}

nav{
  width: 100%;
  height: 100%;
}

header nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

header div {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  margin-left: 20px;
}

.section-one {
  width: 100%;
  height: 60%;
  border: 1px solid black;
  display: flex;
  justify-content: start;
  align-items: center;
}

.section-one div {
  width: 50%;
  height: 100%;
  border: 1px solid black;
}

.section-one .img-container{
  border: 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-one .img-container img{
  width: 50%;
  border: 6px solid;
  border-radius: 12px;
}

footer {
  width: 100%;
  height: 20%;
  border: 1px solid black;
}
