body,
html {
  width: 99%;
  height: 150%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header {
  width: 100%;
  height: 20%;
  border: 1px solid black;
}

nav{
  width: 100%;
  height: 100%;
}

header nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

header div {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  margin-left: 20px;
}

.section-one {
  width: 100%;
  height: 70%;
  border: 1px solid black;
  display: flex;
  justify-content: start;
  align-items: center;
}

.section-one .sectiono-one-container-one {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.sectiono-one-container-one .upper-container{
  width: 100%;
  height: 30%;
  border: 1px solid black;
}

.sectiono-one-container-one .lower-container{
  width: 100%;
  height: 70%;
  border: 1px solid black;
}

.upper-container a{
  font-size: 1.2em;
  color: white;
  background-color: black;
  border-radius: 9px;
  padding: 10px;
  position: relative;
  top: 20px;
  left: 10px;
  
}

.section-one .sectiono-one-container-two {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section-one .sectiono-one-container-two h1{
  padding-left: 40px;
}

.section-one .sectiono-one-container-two ol{
  padding-left: 90px;
  font-size: 2em;
  margin: 0;
}



footer {
  width: 100%;
  height: 10%;
  border: 1px solid black;
  display: flex;
  justify-content: end;
  align-items: end;
}

footer a{
  font-size: 1.2em;
  color: white;
  background-color: black;
  border-radius: 9px;
  padding: 10px;
  position: relative;
  right: 10px;
  bottom: 10px;
}