*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

body,
html{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   align-items: center;
}

body{
    font-size: 2em;
    text-align: center;
    color: white;
}


header{
    width: 100%;
    height: 10%;
    background-color: blue;
}


nav{
    width: 100%;
    height: 10%;
    background-color: lightblue;
}

section{
    width: 100%;
    height: 70%;
    display: flex;
flex-direction: row;
}

main{
    width: 80%;
    height: 100%;
    background-color: darkblue;
}

article{
    width: 20%;
    height: 100%;
    background-color: blue;
}

footer{
    width: 100%;
    height: 10%;
    background-color: lightblue;
}


@media (max-width: 450px) {

    nav{
order: 3;
    }

    section{
        flex-direction: column;
    }

    main{
        width: 100%;
        height: 90%;
    }

    article{
        width: 100%;
        height: 10%;
    }

}