* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: dirtyline;
  src: url(/assets/fonts/dirtyline.otf);
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: rgb(247, 241, 228);
}

main {
  height: 100%;
  /* display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px; */
}

button {
  width: 100px;
  height: 50px;
  border: 4px solid rgb(157, 134, 3);
  border-radius: 9px;
}

#btn{
    border: 4px solid rgb(17, 74, 219);
    background-color: rgb(14, 166, 222);
}

button:hover{
    font-size: 1.1em;
}


#box{
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: relative;
}